<!DOCTYPE html>
<html>
    <head>
        <title>Tracker</title>
        <link rel="stylesheet" href="/css/navStyles.css">
    
    <div class="container">
    <nav>
        <button id="goalBtn" class="mainBtn">
            <a href="/goal">Set Goal</a>
        </button>

        <button id="loginBtn" class="mainBtn">
            Login
        </button>


    </nav>
    <div class="loginContain">
        <div id="loginCard">
            <input id="pwInput" type="password">
            <button id="loginSub" class="mainBtn" >+</button>
        </div>
    </div>
