<html>


    <head>
        <title>Tracker</title>
        <link rel="stylesheet" href="/css/navStyles.css">
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>

    <div class="container">
        <button class="mainBtn">
            <a href="/">
                Home Page
            </a>
        </button>

        <div class="goalForm">
            <form method="post">
                <input type="textfield" name="newTextGoal" placeholder="Your Line for Goal" required>
                <input type="number" name="newSavingGoal" placeholder="Go Big or Go Home" required>
                <button type="submit" class="mainBtn">Set Goal</button>
            </form>
        </div>
    </div>

    </body>

</html>