<html>


    <head>
        <title>Tracker</title>
        <link rel="stylesheet" href="/css/navStyles.css">
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>

    <div class="container">
        <%= item.date%>
        <%= item.salary%>
        <%= item.saving%>
        <%= item.invest%>
    </body>

</html>